# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
build/.venv/

# PyInstaller / Nuitka
build/
dist/
*.spec.bak
*.dist/
*.build/

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
